@page "/"

<PageTitle>Home</PageTitle>

<h1 class="font-extrabold text-7xl mb-7">Hello, world!</h1>

<p class="text-xl mb-20">Welcome to your new app.</p> 
<SurveyPrompt Title="How Blazor is working for you"></SurveyPrompt>

<div class="w-1/2 m-16">
    <Tailwind/>
</div>

