<div class=" transform -hue-rotate-30 mt-20 w-full flex items-center -ml-full rounded-3xl shadow-lg bg-gradient-to-br from-green-400 to-blue-500">
    <svg class="stroke-current text-purple-200 h-12 mr-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""/>
    <div>
        <h3 class="font-bold text-white">@Title</h3>
        <div>Please take our <a class="underline font-semibold" target="_blank" href="https://www.youtube.com/watch?v=QIdedo8iI4Y">survey</a> and tell us what you think</div>

    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
}