<div class="bg-gradient-to-br from-green-400 to-blue-500 h-full flex items-center justify-center hover:from-blue-500 hover:to-green-400 " >
    <div class="bg-white rounded-full h-60 w-60 items-center justify-center flex shadow-lg ">
        <img src="favicon.png" alt="favicon" class="h-32"/>
    </div>
</div>